* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
    background-color: black;
}
h1{
    color:white;
    margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 60px;
    font-size: 50px;
}
#increase{
height: 20px 10px;
background-color: red;
color: white;
padding: 5px;

margin-left:350px;
}

#decrease{
height: 20px 10px;
background-color: red;
color: white;
padding: 5px;
}
#re{
height: 20px 10px;
background-color: red;
color: white;
padding: 5px;
}